@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zan Remskar</h1>
    <p class="lead">Predstavitev spletna aplikacije pri predmetu RPA2020</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Če želite izvedeti kaj več o meni &raquo;</a></p>
</div>
