<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="constr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Zan\Documents\Informatika\RPA2020\spletna_aplikacija\spletna_aplikacija\App_Data\miljarderji.mdf;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
  </system.web>
</configuration>

