@model drugaMVC.Models.Student

<h2>Podatki o studentu</h2>

<ul>
	<li> id: @Model.StudentID </li>
	<li> ime: @Model.StudentIme </li>
	<li> starost: @Model.Leta </li>

</ul>
@{
    ViewBag.Title = "UporabaModela";
}


